<!DOCTYPE html>
<html>
<head>
  <title>SubsidiaryImport</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
  <ul class="nav">
    <li>
      <%= link_to 'All imports', imports_path %>
    </li>
    <li>
      <%= link_to 'New import', new_import_path %>
    </li>
  </ul>
</div>

<%= yield %>

</body>
</html>
