<h1>Import</h1>

<p>Data: <%= link_to @import.data.file.filename, @import.data.url %></p>
<p>Created <%= time_ago_in_words @import.created_at %> ago</p>

<h2>Line Items</h2>
<% if @import.line_items.any? %>
  <table class="data">
    <thead>
      <tr>
        <th>Purchaser Name</th>
        <th>Item Description</th>
        <th class="numeric">Item Price</th>
        <th class="numeric">Purchase Count</th>
        <th>Merchant Address</th>
        <th>Merchant Name</th>
      </tr>
    </thead>
    <tbody>
      <% @import.line_items.each do |line_item| %>
        <tr>
          <td><%= line_item.purchaser_name %></td>
          <td><%= line_item.item_description %></td>
          <td class="numeric"><%= number_to_currency line_item.item_price %></td>
          <td class="numeric"><%= line_item.purchase_count %></td>
          <td><%= line_item.merchant_address %></td>
          <td><%= line_item.merchant_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <em>This import does not have any line items.</em>
<% end %>
